*.pyc
*.log
*.root
*.so
*.pcm
*.d
*.swp
*.png
*.pdf
*.bkg*
*tmp*
messages.txt
nohup.out
washAOD/python/201*
washAOD/python/crab/*
washAOD/python/*.pyc
bin/
studies/
build/
washAOD/macros/bin
washAOD/macros/build
washAOD/macros/plots
