*.pyc
*.log
*.root
!skimmer/data/*.root
!skimmer/data/**/*.root
*.so
*.pcm
*.d
*.swp
*.png
*.pdf
*.bkg*
*tmp*
messages.txt
nohup.out
skimmer/python/201*
skimmer/python/crab/*
bin/
studies/
build/
analysis/bin
analyses/build
analyses/plots
